body {
    background-image: URL("../images/bwleaf.jpg");
}

#local {
    color:rgb(116, 9, 116);
    }

h1 {
    background-color: black;
    margin: 0;
    padding: 10px;
    border-width: 2px;

}

.report {
    padding: 0px 0px 0px 0px;
    background-color: grey;
    color: rgb(82, 143, 82);
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.ui.grid {
    font-family: 'Anton', sans-serif;

    }

.food {
color: rgb(80, 80, 218);
font-family: 'Anton', sans-serif;
text-align: center;
}

.input.panel{
    background: grey;
    color: white;
    padding: 10px, teal;
}

.ui.raised.segment{
    background:grey;
}
 



